*{
    margin: 0;
    padding: 0;
}

body{
    /* background-color: #ddd; */
    font-size: 18px;
    padding-bottom: 100px;
}

header .navHeader{
    background-color: #ddd;
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    justify-items: center;
    padding: 5px;
}

header .navHeader input{
    width: 90%;
    height: 40px;
    border: 0.5px solid grey;
    border-radius: 5px;
    padding: 0 10px 0 10px;
    /* background-image: url(./image/search.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 15px; */
    background-position: start;
    margin-left: 10px;
}


header .navHeader ul{
    width: 100%;
    grid-column-start: -1;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    list-style: none;
    /* background-color: red; */
    padding: 5px;
}

header .navHeader ul li a img{
    height: 25px;
}

.container{
    display: grid;

}

.container .deskripsi{
    background-color: white;
    display: grid;
    /* align-items: center;
    justify-items: center; */
    font-size: 25px;
}

.container .deskripsi .foto_produk{
    background-image: url(./image/produk/fan-laptop.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    width: 95%;
    padding: 5px;
    margin: 10px auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: grid;
    grid-template-columns: repeat(1fr);
    align-items: end;
    justify-items: center;
}

.container .deskripsi .foto_produk .dot_foto{

    display: grid;
    grid-template-columns: repeat(auto-fit,minMax(0,1fr));
    border: 2px solid black;
    align-items: center;
    justify-items: center;
    padding: 5px;
    border-radius: 10px;
}

.container .deskripsi .foto_produk .dot_foto img{
    height: 50px;
    border-radius: 5px;

}
.container .deskripsi .harga::before{
    content: "Rp : ";
}

.container .deskripsi .detail{
    padding: 10px;
}

.container .deskripsi .menu{
    display: grid;
    grid-template-columns: repeat(auto-fit,minMax(0,1fr));
    background-color: white;
    font-size: 25px;
    align-items: center;
    padding: 10px;
    box-shadow: 0 2px 2px black;
}

.container .deskripsi .menu h4{
    cursor: pointer;
}

.container .deskripsi .keterangan::before{
    content: "Kondisi : ";
}

.container .deskripsi .keterangan::after{
    content: " 🟢";
}
.container .deskripsi .minimal::before{
    content: "Minimal : ";
}

.container .deskripsi .minimal::after{
    content: " Buah";
}

.container .deskripsi .etalase::before{
    content: "Etalase : ";
}
.container .deskripsi .deskripsiBarang{
    width: 40%;
}

.container .deskripsi .profil{
    background-color: white;
    border:2px solid black;
    display: grid;
    /* grid-template-columns: repeat(3,1fr); */
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-items: center;
    text-align: center;
    padding: 20px;
}

.container .deskripsi .profil img{
    height: 60px;
}

.container .deskripsi .profil .toko{
    width: 100%;
    font-size: 14px;
    border-radius: 3px;
    padding: 5px;
}
.container .deskripsi .profil .toko .rating::before{
    content: "⭐";
}
.container .deskripsi .profil .toko .waktu::before{
    content: "🕛 ";
}

.container .deskripsi .profil button{
    width: 130px;
    border-radius: 10px;
    border: 3px  solid green;
    padding: 15px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.3px;
    background-color: #fff;
    cursor: pointer;
}

.container .amount{
    background-color: white;
    display: grid;
    padding: 5px;
    gap: 8px;
    border: 2px solid black;
}

.container .amount h2{
    margin-left: 20px;

}

.container .amount input{
    height: 40px;
    width: 80%;
    border-radius: 6px;
    border: 2px solid green;
}

.container .amount .total{
    display: flex;
    align-items: center;
    gap: 10px;
}
.container .amount .total .inputAmount{ 
    margin-left: 20px;
    width: 20%;
}
.container .amount .total .stock::before{
    content: "Stock Total : ";
}

.container .amount .catatan{
    margin-left: 20px;
    display: grid;
}

.container .amount .subtotal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: auto 20px auto 20px;
    font-size: 20px;
}

.container .amount .subtotal h4{
    font-size: 25px;
}
.container .amount .subtotal h4::before{
    content: "Rp : ";
}
.container .amount .button{
    display: flex;
    gap: 10px;
}

.container .amount .button button{
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    border:2px solid green;
    font-size: 16px;
    cursor: pointer;
}


.container .amount .opsi-tambahan{
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 23px;
    text-align: center;
    align-items: center;
    padding: 10px;
}

.container .amount .opsi-tambahan p {
    cursor: pointer;
}

.container .amount .opsi-tambahan .chat::before{
    content: "💬 ";
}
.container .amount .opsi-tambahan .wish::before{
    content: "💖 ";
}
.container .amount .opsi-tambahan .share::before{
    content: "🔗 ";
}

footer{
    position: fixed;
    bottom: 0;
    
    width: 100%;
    background-color: white;
    height: 80px;

    display: grid;
    grid-template-columns: repeat(5,1fr);
    align-items: center;
    justify-items: center;
}

footer img{
    height: 40px;
    cursor: pointer;
}

@media (max-width:600px){
    .container .deskripsi .deskripsiBarang{
        width: 80%;
    }
}

@media (max-width:400px) {
    .container .deskripsi .profil{
        grid-template-columns: 1fr

    }
    .container .deskripsi .deskripsiBarang{
        width: 90%;
    }
}
/* @media (max-width:100px) {
   *{
        display: none;
   }
   .under100pxMessage{
        display: block;
   }
} */